{{ 'component-youtube-3column.css' | asset_url | stylesheet_tag }}


{% schema %}
    {
      "name": "D 3 Column",
      "settings": [
        {
          "type": "text",
          "id": "section_header",
          "label": "Section Header",
          "default": "Featured Collections"
        }
      ],
      "blocks": [
        {
          "type": "content",
          "name": "Content",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
       
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "Enter your title"
            },
            {
              "type": "text",
              "id": "subtitle",
              "label": "Subtitle",
              "default": "Enter your subtitle"
            }, {
              "type": "url",
              "id": "button_link",
              "label": "Button link",
              "default": "/"
            }, {
              "type": "text",
              "id": "button_text",
              "label": "Button text",
              "default": "Shop"
            }
          ],
          "limit": 3
        }
      ],
      "presets": [
        {
          "name": "D 3 Column",

            "blocks": [
            {
            "type": "content"
            },
            {
            "type": "content"
            },
            {
            "type": "content"
            }
      ]
        }
      ]
    }
  {% endschema %}
  
  
 
  
  
  
  <div class="get-started-container">
    <h2 class="get-started-section-header">{{ section.settings.section_header }}</h2>
  
    <div class="get-started-row">
      {% for block in section.blocks %}
        <div class="get-started-block">
  
  
        
          {% if block.settings.image %}
            <div class="{{ section.settings.image_aspect_ratio }}">
              <img loading="lazy" src="{{ block.settings.image | img_url: '600x' }}" alt="{{ block.settings.title }}" />
            </div>
          {% endif %}
  
  
  
          <div class="get-started-text">
            <p class="get-started-title">{{ block.settings.title }}</p>
            <span class="get-started-subtitle">{{ block.settings.subtitle }}</span>
            <a href="{{ block.settings.button_link }}" class="get-started-button">{{ block.settings.button_text }}</a>
          </div>
  
        </div>
      {% endfor %}
    </div>
  </div>
  
  
  